#############################
### System files
#############################

/**/*~
/**/.DS_Store
/**/desktop.ini
/**/thumbs.db

#############################
### VCS
#############################

/**/.git
/**/.gitignore
/**/.gitkeep

#############################
### Docker
#############################

/.dockerignore
/Dockerfile

#############################
### Application
#############################

/node_modules
